//--------------------------------------------------------------
//                       Floated menu
//--------------------------------------------------------------
$item-margin: 50px;

.nav__primary{
  
}

.nav__primary .menu {
  @include clearfix;
  display: inline-block;

  > li {
    position: relative;
    float: left;

    & + li {
      margin-left: $item-margin;
    }
  }
}