/*========================================================
                      Form Styles
=========================================================*/
//Input
$inputBackground: $stockBg;
$inputColor: $textPrimary;
$inputBorderColor: $borderColor;
$inputBorderFocus: rgba(#6b61a2, 0.3);
$inputHeight: 40px;
$inputFontSize: 14px;
$inputLineHeight: 24px;
$inputBorderRadius: $baseBorderRadius;
$inputPadding: (($inputHeight - $inputLineHeight)/2) 10px (($inputHeight - $inputLineHeight)/2) 20px;

//Select Arrow
$select-arrow-width: 30px;
$select-arrow-icon: '\e071';

// Radio
$radio-size: 16px;
$radio-border: 1px solid $borderColor;
$radio-background: $stockBg;

$radio-inner-size: 12px;
$radio-inner-bg: $primary;

//Checkbox
$checkbox-size: 14px;
$checkbox-bg: #e5e5e5;
$checkbox-border: none;
$checkbox-border-radius: $baseBorderRadius;

$checkbox-icon: '\f00c';
$checkbox-icon-color: $primary;

//==============================
// Input  Styles
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  background: $inputBackground;
  border: 1px solid $inputBorderColor;
  color: $inputColor;
  font-size: $inputFontSize;
  height: $inputHeight;
  line-height: $inputLineHeight;
  padding: $inputPadding;
  outline: none;
  @include box-sizing(border-box);
  @include border-radius($inputBorderRadius);
  @include transition(.3s all ease);
  @include box-shadow(none);
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  &:focus{
    @include box-shadow(1px 1px 10px $inputBorderFocus);
  }
}

select:hover{
  cursor: pointer;
}

input[name*="quantity"] {
  display: inline-block;
  width: 40px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;

}

textarea:not([class*="habla"]) {
  min-height: 200px;
}

select {
  display: none;
}

.counter, .counter:focus{
  display: inline-block;
  height: $inputHeight;
  width: $inputHeight;
  color: $textPrimary;
  background: $inputBackground;
  line-height: $inputHeight;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
 &:hover{
    background: $stockBgHover;
    color: $primary;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

#product .counter{
  @media (max-width: 767px){
    display: inline-block;
  }
}

.input-group-btn .btn {
  height: $inputHeight;
  padding-top: 0;
  padding-bottom: 0;
  @include box-sizing(border-box);
}

//==============================
// Select Styles

.sbHolder {
  background-color: $inputBackground;
  border: 1px solid $inputBorderColor;
  height: $inputHeight;
  position: relative;
  width: 100%;
  text-align: left;
  color: $inputColor;
  @include border-radius($inputBorderRadius);
  @include transition(.3s all ease);
  @include box-sizing(border-box);
  min-width: 120px;
  &:hover {
    background: $stockBgHover;
  }
  &:focus{
    border-color: $inputBorderFocus;
    @include box-shadow(1px 1px 10px $inputBorderFocus);
  }
}

.sbSelector {
  display: block;
  height: 100%;
  line-height: $inputLineHeight;
  position: absolute;
  left: 0;
  top: 0;
  right: $select-arrow-width;
  padding: (($inputHeight - $inputLineHeight)/2) 10px (($inputHeight - $inputLineHeight)/2) 15px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  @include box-sizing(border-box);
	color:$baseColor;
	&:visited {
	color:$baseColor;
	}
	&:hover, &:focus, &:active {
	color:$textPrimary;
	}
}

//==============================
// Select Arrow Styles

.sbToggle {
  display: block;
  height: 100%;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: $select-arrow-width;
  text-align: center;
  color: inherit;
  font-family: $material;
  line-height: $inputHeight;
  font-size: 28px;
  &:before {
    content: $select-arrow-icon;
    display: block;
    @include transition(.5s all ease);
  }
  &:hover {
    color: inherit;
  }
  &Open {
    &:before {
      @include transform(rotateX(180deg));
    }
  }
}

.sbHolderDisabled {
  background-color: #3C3C3C;
  border: solid 1px #515151;
}

//==============================
// Select Dropdown Styles

.sbOptions {
  background-color: $inputBackground;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 10px 0;
  position: absolute;
//  top: $inputHeight !important;
  right: 0;
  z-index: 3;
  overflow-y: auto;
//  max-height: 200px !important;
  @include box-shadow($baseBoxShadow);
  border-top: 1px solid $borderColor;
  li {
    a {
      display: block;
      padding: 8px 20px 8px 10px;
      color: $inputColor;
      &:hover {
        background: $stockBgHover;
      }
    }
  }
}

//==============================
// Radio Styles
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  line-height: $baseLineHeight;
  &:before, &:after {
    content: '';
    position: absolute;
    @include border-radius(50%);
    @include box-sizing(border-box);
  }
  &:before {
    top: ($baseLineHeight - $radio-size)/2;
    left: 0;
    width: $radio-size;
    height: $radio-size;
    border: $radio-border;
    background: $radio-background;
  }
  &:after {
    top: (($radio-size - $radio-inner-size)/2) + ($baseLineHeight - $radio-size)/2;
    left: (($radio-size - $radio-inner-size)/2);
    width: $radio-inner-size;
    height: $radio-inner-size;
    @include transition(.3s all ease);
  }
}

input[type="radio"]:checked + label:after {
  background: $radio-inner-bg;
}

.radio-inline {
  margin-right: 5px;
}

//==============================
// Checkbox Styles
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  &:before, &:after {
    content: '';
    position: absolute;
    @include box-sizing(border-box);
    top: ($baseLineHeight - $checkbox-size)/2;
    left: 0;
    width: $checkbox-size;
    height: $checkbox-size;
  }
  &:before {
    background: $checkbox-bg;
    border: $checkbox-border;
    @include border-radius($checkbox-border-radius);
  }
  &:after {
    text-align: center;
    line-height: $checkbox-size;
    font-family: $fa;
    color: $checkbox-icon-color;
  }
}

input[type="checkbox"]:checked + label:after {
  content: $checkbox-icon;
}

input[type="checkbox"][disabled] + label {
  color: lighten($baseColor,30%);
}

input[type="checkbox"][name="agree"] + label{
  margin-bottom: $baseLineHeight/2;
  &:before,&:after{
    top: 0;
  }
}