//--------------------------------------------------------------
//                 Product Slideshow Module
//--------------------------------------------------------------
.tm_product_slideshow{
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  padding: 50px 80px 40px;
  margin-top: 30px;
  .slideshow-product{
    @include clearfix;
  }
  .image{
    float: left;
    margin-right: 75px;
  }
  .caption{
    overflow: hidden;
  }

  .name{
    font-size: 34px;
    line-height: 53px;
    color: $textPrimary;
    +.description{
      margin-top: 10px;
    }
  }
  .description{
    font-size: 14px;
    line-height: 25px;
  }
  .description+.price{
    margin-top: 15px;
  }
  .price{
    font: 400 34px/34px $baseFontFamily;
    color: $primary;
  }
  .cart-button{
    padding-bottom: 5px;
    margin-top: 20px;
  }

  .product-btn-add{
    background: $primary;
    &:hover{
      background: $textPrimary;
    }
  }

  .owl-prev, .owl-next{
    font-size: 34px;
    line-height: 35px;
    color: #C5C5C5;
    &:hover{
      color: $primary;
    }
  }
  .owl-controls .owl-buttons div{
    margin-top: -18px;
  }
}

//--------------------------------------------------------------
//       Product Slideshow Module Responsive Layout
//--------------------------------------------------------------

@media (max-width: 1149px) {
  .slideshow-product .image{
    width: 25%!important;
    margin-right: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px),(max-width: 580px) {
  .tm_product_slideshow {
    .name{
      font-size: 28px;
      line-height: 33px;
    }
    .price{
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@media (max-width: 520px){
  .tm_product_slideshow{
    padding: 20px 60px;
  }
  .slideshow-product .image{
    width: 80%!important;
    margin: 0 auto 15px;
    float: none;
  }
}

@media (max-width: 400px){
  .slideshow-product .price{
    font-size: 20px;
    line-height: 20px;
  }
  .slideshow-product .product-btn-add{
    min-width: 100%;
    display: block;
  }
}